@import "../../variables";

.folder{
  color: $text-dark;
  font-family: Lato, sans-serif;
  &-name{
    display: block;
    padding: 0.5em ;
    font-size: 1.1em;
    width: 100%;
    &:hover{
      background-color: $light-blue;
    }
  }
  &-list{
    display: none;
    padding-left: 1em;
  }
}

