@import "../variables";

.storage {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  color: $text-dark;
  width: $popup-width;
  height: 20em;
    &-add-btn {
      width: 98%;
      align-self: center;
      background-image: url("/assets/storage-btn-background.png");
      border-radius: 1em;
      @extend .btn-styles;
    }
  h1 {
    font-family: Lato, sans-serif;
  }
}