@import "../variables";

.dragNDropTabs{
  position: absolute;
  width: 40em;
  height: 40em;
  background-color: $white;
  z-index: 999;
}

.storage {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  color: $text-dark;
  width: $popup-width;
  height: 20em;
    &-add-btn {
      width: 98%;
      align-self: center;
      background-image: url("/assets/storage-btn-background.png");
      border-radius: 1em;
      @extend .btn-styles;
    }
  h1 {
    font-family: Lato, sans-serif;
  }
  &-dragNDrop{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    &-background{
      width: 100vw;
      height: 100vh;
      z-index: 998;
      background-color: $black;
      opacity: 50%;
    }
    &-tabsSaved {
      @extend .dragNDropTabs
    }
    &-tabsToSave{
      @extend .dragNDropTabs
    }
  }
}