.flex-centering, .header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

@font-face {
  font-family: 'Lato';
  src: url("/assets/Lato-Regular.woff2") format("woff2"), url("/assets/Lato-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Lato';
  src: url("/assets/Lato-Bold.woff2") format("woff2"), url("/assets/Lato-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #caebfc; }

.flex-centering, .header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 30em;
  height: 6em;
  padding-top: 0.2em;
  font-family: Lato, sans-serif;
  background-image: url("/assets/header-background.png");
  background-size: cover; }
  .header-logo img {
    width: 3em;
    height: 3em; }
  .header-nav {
    display: flex; }
    .header-nav-link {
      text-decoration: none;
      padding: 0 1em 0 1em;
      width: 5em;
      height: 2em;
      color: #d9f6ff; }
      .header-nav-link:hover {
        border: solid 1px #61a0ff;
        border-radius: 50%;
        -webkit-box-shadow: inset 0 0 21px 2px #61a0ff;
        -moz-box-shadow: inset 0 0 21px 2px #61a0ff;
        box-shadow: inset 0 0 21px 2px #61a0ff;
        animation: 0.2s linear puff, 0.1s linear bounce; }
      .header-nav-link-settings img {
        position: relative;
        width: 3em;
        height: 3em; }

@keyframes puff {
  0% {
    width: 5em;
    height: 2em; }
  25% {
    width: 4.7em;
    height: 2.3em; }
  50% {
    width: 5em;
    height: 2em; }
  75% {
    width: 5.2em;
    height: 2em; }
  100% {
    width: 5em;
    height: 2em; } }
.flex-centering, .header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2em;
  height: 6em;
  background-image: url("/assets/footer-background.png");
  background-size: cover;
  width: 30em; }
  .footer-logo img {
    width: 3em;
    height: 3em; }
  .footer-version {
    font-size: 2em; }

.flex-centering, .header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

.storage {
  color: #280078;
  width: 30em; }
  .storage-add-btn {
    padding: 0.5em;
    background-image: url("/assets/btn-background.png");
    background-size: cover;
    border: solid 1px #0066ff;
    border-radius: 1em;
    color: #d9f6ff; }
    .storage-add-btn:hover {
      color: #fff; }

h1 {
  font-family: Lato,sans-serif; }

.flex-centering, .header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

.folder {
  color: #280078;
  font-family: Lato, sans-serif; }
  .folder-name {
    display: block;
    padding: 0.5em;
    font-size: 1.1em;
    width: 100%; }
    .folder-name:hover {
      background-color: #61a0ff; }
  .folder-list {
    display: none;
    padding-left: 1em; }

.flex-centering, .header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

li {
  list-style: none;
  color: #280078; }

/*# sourceMappingURL=globals.css.map */
