$text-light: #d9f6ff;
$text-white: #fff;
$text-dark: #280078;
$blue: #0066ff;
$light-blue: #61a0ff;
$background-color: #caebfc;
$popup-width: 30em;

.flex-centering{
  display: flex;
  justify-content: center;
  align-items: center;
}