@import "../../variables";
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2em;
    height: 6em;
    background-image: url("/assets/footer-background.png");
    background-size: cover;
    width: $popup-width;
    &-logo{
      img{
        width: 3em;
        height: 3em;
      }
    }
    &-version{
      font-size: 2em;
    }
  }
